*{
    font-family: 'Merriweather Sans', sans-serif;
}
.orange-color{
    color: orangered;
}
.container{
    display: flex;
    background-image: url(images/shapes/Frame\7.png);
    margin-bottom: 40px;
}
.container-img{
    background-image: url(images/shapes/Group\ 8447.png);
    background-size: cover;
    width: 50%;
}
.container-img img{
    margin-top: 150px;
    margin-left: 100px;
}
h1{
    font-size: 50px;
    color: gray;
}
p{
    color: gray;
}
.container-para{
    margin: 80px;
    width: 50%;
}
.btn{
    padding: 18px 40px;
    border-radius: 35px;
    background-image: linear-gradient(to right, coral,tomato);
    font-size: 17px;
    text-decoration: none;
    color: white;
    border: none;
    
}
.btn:hover{
    cursor: pointer;
}

.container2{
    display: flex;
    background-image: url(images/shapes/7.png);
    justify-content:space-around;
}

.container-img2 img{
    width: 40%;
    margin-left: 200px;
    margin-top: 40px;
    
}
.container-para2{
    width: 50%;
    margin-right: 120px;
    margin-top: 100px;
}
.container-para2 h1{
    font-size: 35px;
}
