*{
    font-family: 'Poppins', sans-serif;
}
.orange-color{
    color: orangered;
}
.container{
    display: flex;
    background-image: url(images/shapes/Frame\7.png);
    margin-bottom: 40px;
}
.container-img{
    background-image: url(images/shapes/Group\ 8447.png);
    background-size: cover;
    width: 50%;
}
.container-img img{
    margin-top: 150px;
    margin-left: 100px;
}
.container-para{
    margin: 80px;
    width: 50%;
}
.container-para h1{
    font-size: 50px;
    color: gray;
}
.container-para p{
    color: gray;
}

.btn{
    padding: 18px 40px;
    border-radius: 35px;
    background-image: linear-gradient(to right, coral,tomato);
    font-size: 17px;
    text-decoration: none;
    color: white;
    border: none;
    
}
.btn:hover{
    cursor: pointer;
}

.container2{
    display: flex;
    background-image: url(images/shapes/7.png);
    justify-content:space-around;
}

.container-img2 img{
    width: 40%;
    margin-left: 200px;
    margin-top: 40px;
    
}
.container-para2{
    width: 50%;
    margin-right: 120px;
    margin-top: 100px;
}
.container-para2 h1{
    font-size: 35px;
}

.recipe{
    text-align: center;
}

.recipe h1{
    color: gray;
    font-size: 32px;
}
.recipe  p{
font-size: 14px;
color: gray;
}
.container3{
    display: flex;
    margin: 60px;

}
.recipe-book{
    box-shadow: 1px 1px 5px gray;
    padding: 30px;
    border-radius: 5%;
    margin-left: 20px;
}
.recipe-book img{
    width:500px;
    height: 300px;
}

.container4{
    display: flex;
    justify-content: space-evenly;
box-shadow: 1px 1px 5px gray;
margin: 75px;
border-radius: 15px;


}
.divider h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}
footer{
    text-align: center;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 80px;
    

}
.gray{
    color: gray;
}
footer p{
    color: grey;

}

